.auth-link-title {
    color: #333;
    margin-top: 5px;
    font-family: "ProductSans-Light";
}

.auth-link {
    font-family: "ProductSans-Light";
    color: #4CAF50;
    cursor: pointer;
}

.form-wrapper {
    padding: 30px;
    border-radius: 15px;
    background-color: #2f3136;
}